.btn {
    width: 300px;
    height: 60px;
    border-radius: 5px;
    background-color: peru;
    color: #ffffff;
    margin-right: 20px;
    border: none;
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
  }

.btn:hover,
.btn:focus {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.342);
  background-color: saddlebrown;
}

.list {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .item {
    margin: 0 8px;
  }